.accounts-list {
	list-style-type: none;

}

.accounts-item {
	margin: 20px 25px;
}

.add {
	margin: 0 auto;
}

.modal.open {
	display: block;
}

.update, .delete {
	margin: 20px;
}

.account-info {
	padding: 10px;
	margin: 20px;
}

.userpic {
	margin: 20px;
}

.userpic-container {
	padding-left: 40px;
}

.add {
	margin: auto;
}


